@import url(https://fonts.googleapis.com/css?family=Open+Sans);

header {
	color: #fff;
    background-color: #033048;
	height: 100px;   
}

.nav-link {
	background: #033048;
    color: #f9e42e;
	margin: 1%;
    text-decoration: none;
}

.nav-link:hover {
	background: #606161;
}

h1 {
    background: 121212;
    display: inline-block;
    width: 40%;
    font-size: 36px;
    padding-top: 30px;
    padding-left: 90px;
    font-weight: 800px;
}

h2 {
    font-size: 40px;
    font-weight: 600px;
}

.nav {
    display: inline-block;
    width: 48%;
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}

article {
    float: left;
    width: 47%;
    padding-left: 90px;
    padding-top: 50px;
}

aside {
    float: right;
    width: 40%;
    margin-top: 60px;
}

aside h3 {
    font-size: 32px;
    font-weight: 800;
}

body {
    background-color: #f0efef;
    font-family: "open sans";
}

footer {
    clear: left;
}

h3 {
    font-size: 32px;
    font-weight: 800;
}

.categories a {
    font-size: 24px;
    text-decoration: none;
    font-weight: 300;
}

article p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
}

ul {
    margin-top: 20px;
}

.about {
    margin-top: 50px;
}

.about a {
    text-decoration: none;
}

.ad {
    text-decoration: none;
    margin-top: 60px;
    background-color: #fff;
    font-size: 24px;
    height: 500px;
    width: 240px;
}

.blog-post a {
    text-decoration: none;
}

.about p {
    font-size: 22px;
    font-weight: 300;
}

.about a {
    font-size: 22px;
    font-weight: 600;
}

footer a {
    display: block;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    color: #fff;
    background: #033048;
    padding: 10px;
    margin: 0 auto;
    text-decoration: none;
}

footer h2 {
    color: #f9e42e;
}

article a {
    font-size: 24px;
    font-weight: 600;
}

footer {
    background: #121212;
    text-align: center;
}

footer p {
    color: #fff;
}

footer img {
    height: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer .signup-button {
    height: 100px;
    background: #f9e42e;
}