body {
    font-family: 'Georgia';
}

h1 {
    background: purple;
    color: #ffffff;
    padding: 15px;
    border: 5px solid black;
    margin: 25px;
}

p {
    color: yellow;
    background: blue;
    padding: 15px 20px 30px 45px;
    border: 5px solid purple;
    margin: 30px 50px;
}

code {
    color: #fff;
    background: red;
    border: 1px dashed blue;
    padding: 2px 5px;
}

h2 {
    background: grey;
    color: aliceblue;
    padding: 10px 20px;
    border: 5px dashed orange;
    margin: 25px;
}

ol {
    background: pink;
    border: 5px dotted green;
    padding: 15px 15px;
    width: 300px;
    margin: 0 auto;
}

li {
    background: green;
    padding: 15px 15px;
    margin: 25px;
}